<template>
  <div class="demo-alignment">
    <vs-popup
      class="holamundo"
      :title="title"
      :active.sync="isModalActiveLocal"
    >
      <div class="p-6">
        <!-- tableId -->
        <vs-input
          :disabled="data._id"
          label="หมายเลขโต๊ะ"
          placeholder="หมายเลขโต๊ะ"
          v-model="tableId"
          class="mt-5 w-full"
          name="item-tableId"
          v-validate="'required'"
        />
        <span class="text-danger text-sm" v-show="errors.has('item-tableId')">{{
          errors.first("item-tableId")
        }}</span>

        <!-- numberSeat -->
        <vs-input
          label="จำนวนที่นั่ง"
          placeholder="จำนวนที่นั่ง"
          type="number"
          v-model="numberSeat"
          class="mt-5 w-full"
          name="item-numberSeat"
          v-validate="'required|numeric|integer'"
        />
        <span
          class="text-danger text-sm"
          v-show="errors.has('item-numberSeat')"
          >{{ errors.first("item-numberSeat") }}</span
        >

        <div class="p-6 text-center" slot="footer">
          <vs-button
            color="success"
            type="filled"
            class="mr-6"
            @click="submitData"
            :disabled="!isFormValid"
            >ตกลง</vs-button
          >
          <vs-button
            color="danger"
            type="filled"
            @click.stop="isModalActiveLocal = false"
            >ยกเลิก</vs-button
          >
        </div>
      </div>
    </vs-popup>
  </div>
</template>
<script>
export default {
  props: {
    isModalActive: {
      type: Boolean,
      required: true
    },
    data: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      title: "",
      id: null,
      tableId: "",
      numberSeat: ""
    };
  },
  watch: {
    isModalActive(val) {
      if (!val) return;
      if (Object.entries(this.data).length === 0) {
        //init value
        this.initValues();
        this.$validator.reset();
        this.title = "เพิ่มโต๊ะ"
      } else {
        this.title = "แก้ไขโต๊ะ"
        this.id = this.data._id;
        this.tableId = this.data.tableId;
        this.numberSeat = this.data.numberSeat;
        
        this.initValues();
      }
    }
  },
  computed: {
    isModalActiveLocal: {
      get() {
        return this.isModalActive;
      },
      set(val) {
        if (!val) {
          this.$emit("closeModal");
        }
      }
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.tableId &&
        this.numberSeat
      );
    }
  },
  methods: {
    initValues() {
      if (this.data._id) return;
      this.id = null;
      this.tableId = "";
      this.numberSeat = "";
    },
    submitData() {
      this.$validator.validateAll().then(result => {
        if (result) {
          const obj = {
            _id: this.id,
            tableId: this.tableId,
            numberSeat: this.numberSeat
          };

          if (this.id !== null && this.id.length >= 0) {
            this.$store
              .dispatch("tableList/updateItem", obj)
              .then(result => {
                if (result.data.success) {
                  this.$vs.notify({
                    color: "success",
                    title: "แก้ไขข้อมูล",
                    text: result.data.message
                  });
                } else {
                  this.$vs.notify({
                    color: "danger",
                    title: "แก้ไขข้อมูล",
                    text: result.data.message
                  });
                }
              })
              .catch(err => {
                this.$vs.notify({
                  color: "danger",
                  title: "เกิดข้อผิดพลาด",
                  text: "เกิดข้อผิดพลาด, กรุณาลองใหม่อีกครั้งในภายหลัง"
                });
              });
          } else {
            delete obj.id;
            obj.popularity = 0;
            this.$store
              .dispatch("tableList/addItem", obj)
              .then(result => {
                if (result.data.success) {
                  this.$vs.notify({
                    color: "success",
                    title: "เพิ่มข้อมูล",
                    text: result.data.message
                  });
                } else {
                  this.$vs.notify({
                    color: "danger",
                    title: "เพิ่มข้อมูล",
                    text: result.data.message
                  });
                }
              })
              .catch(err => {
                this.$vs.notify({
                  color: "danger",
                  title: "เกิดข้อผิดพลาด",
                  text: "เกิดข้อผิดพลาด, กรุณาลองใหม่อีกครั้งในภายหลัง"
                });
              });
          }
          this.$emit("closeModal");
          this.initValues();
        }
      });
    }
  }
};
</script>
