<template>
  <div id="data-list-list-view" class="data-list-container">
    <add-table
      :isModalActive="addNewDataModal"
      @closeModal="toggleDataModal"
      :data="modalData"
    />

    <vs-table
      ref="table"
      :sst="true"
      @search="handleSearch"
      @sort="handleSort"
      :max-items="itemsPerPage"
      :data="Items"
      search
    >
      <div
        slot="header"
        class="flex flex-wrap-reverse items-center flex-grow justify-between"
      >
        <div
          class="flex flex-wrap-reverse items-center data-list-btn-container"
        >
          <!-- ITEMS PER PAGE -->
          <vs-dropdown
            vs-trigger-click
            class="cursor-pointer mb-4 mr-4 items-per-page-handler"
          >
            <div
              class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
            >
              <span class="mr-2"
                >{{ this.tables.pagingCounter ? this.tables.pagingCounter : 0 }}
                -
                {{
                  totalItems - currentPage * itemsPerPage > 0
                    ? currentPage * itemsPerPage
                    : totalItems
                }}
                of {{ totalItems }}</span
              >
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>
              <vs-dropdown-item @click="itemsPerPage = 10">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="itemsPerPage = 20">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="itemsPerPage = 50">
                <span>50</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>

        <!-- ADD NEW -->
        <div
          class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary "
          @click="addNewData"
        >
          <vs-button color="success" type="filled" style="width: 100px;"
            >เพิ่ม</vs-button
          >
        </div>
      </div>

      <template slot="thead">
        <vs-th sort-key="tableId">หมายเลขโต๊ะ</vs-th>
        <vs-th sort-key="numberSeat">จำนวนที่นั่ง</vs-th>
        <vs-th sort-key="status">สถานะ</vs-th>
        <vs-th>แก้ไข</vs-th>
        <vs-th>ลบ</vs-th>
      </template>

      <template slot-scope="{ data }">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <p class="table-tableIdfont-medium truncate">
                {{ tr.tableId }}
              </p>
            </vs-td>

            <vs-td>
              <p class="table-numberSeat">{{ tr.numberSeat }}</p>
            </vs-td>

            <vs-td>
              <p
                v-bind:class="{
                  'text-success ': tr.status === 'ว่าง',
                  'text-danger': tr.status === 'ไม่ว่าง'
                }"
                class="user-telephone"
                style="font-weight: bold;"
              >
                {{ tr.status }}
              </p>
            </vs-td>

            <vs-td class="whitespace-no-wrap">
              <!-- <feather-icon
                    icon="EditIcon"
                    svgClasses="w-5 h-5 hover:text-primary stroke-current"
                    @click.stop="editData(tr)"
                  /> -->
              <vs-button
                type="filled"
                color="warning"
                @click.stop="editData(tr)"
                >แก้ไข</vs-button
              >
            </vs-td>
            <vs-td>
              <!-- <feather-icon
                    icon="TrashIcon"
                    svgClasses="w-5 h-5 hover:text-danger stroke-current"
                    class="ml-2"
                    @click.stop="confirmDelete(tr._id)"
                  /> -->
              <vs-button
                type="filled"
                color="danger"
                @click.stop="confirmDelete(tr._id)"
                >ลบ</vs-button
              >
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>

    <vs-pagination :total="totalPages" v-model="currentPage"></vs-pagination>
  </div>
</template>

<script>
import AddTable from "./AddTable";
import moduleTable from "@/store/table/moduleTable.js";

export default {
  components: {
    AddTable
  },
  watch: {
    currentPage(newVal) {
      this.fetchOption.page = newVal
      this.$store.dispatch("tableList/fetchTables", this.fetchOption);
    },
    itemsPerPage(newVal) {
      this.fetchOption.limit = newVal
      this.$store.dispatch("tableList/fetchTables", this.fetchOption);
    }
  },
  data() {
    return {
      // Add Modal
      addNewDataModal: false,
      modalData: {},

      // products: [],
      itemsPerPage: 10,
      isMounted: false,
      deleteId: null,

      //pagination
      currentPage: 1,
      fetchOption: {
        search: "",
        sort: {},
        page: this.currentPage,
        limit: this.itemsPerPage
      }
    };
  },
  computed: {
    tables() {
      return this.$store.state.tableList.tables;
    },
    Items() {
      return this.tables.docs ? this.tables.docs : [];
    },
    totalItems() {
      return this.tables.totalDocs ? this.tables.totalDocs : 0;
    },
    page() {
      return this.tables.page;
    },
    totalPages() {
      return this.tables.totalPages ? this.tables.totalPages : 0;
    }
  },
  methods: {
    handleSearch(search) {
      this.currentPage = 1;
      this.fetchOption.search = search;
      this.$store.dispatch("tableList/fetchTables", this.fetchOption);
    },
    handleSort(key, active) {
      if (active) {
        this.fetchOption.sort[key] = active;
        this.$store.dispatch("tableList/fetchTables", this.fetchOption);
      } else {
        this.fetchOption.sort = {};
        this.$store.dispatch("tableList/fetchTables", this.fetchOption);
      }
    },
    addNewData() {
      this.modalData = {};
      this.toggleDataModal(true);
    },
    editData(data) {
      this.modalData = data;
      this.toggleDataModal(true);
    },
    toggleDataModal(val = false) {
      this.addNewDataModal = val;
    },
    confirmDelete(_id) {
      this.deleteId = _id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
         acceptText: "ยืนยัน",
        cancelText: "ยกเลิก",
        title: `ยืนยันการลบ`,
        text: "คุณแน่ใจว่าต้องการลบข้อมูลนี้หรือไม่",
        accept: this.acceptAlert
      });
    },
    acceptAlert() {
      this.$store
        .dispatch("tableList/removeItem", this.deleteId)
        // eslint-disable-next-line no-unused-vars
        .then(result => {
          // เช็คว่าลบข้อมูลสำเร็จหรือไม่
          this.$vs.notify({
            color: "success",
            title: "ลบข้อมูล",
            text: "ข้อมูลถูกลบเรียบร้อยแล้ว"
          });
        })
        // eslint-disable-next-line no-unused-vars
        .catch(err => {
          // notify ลบข้อมูลไม่สำเร็จ
        });
    }
  },
  created() {
    if (!moduleTable.isRegistered) {
      this.$store.registerModule("tableList", moduleTable);
      moduleTable.isRegistered = true;
    }
    this.$store.dispatch("tableList/fetchTables", this.fetchOption);
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {
    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;
        .vs-table--search-input {
          width: 100%;
        }
      }
    }
    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }
    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;
        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }
    .product-name {
      max-width: 23rem;
    }
    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }
      .vs-table--search {
        padding-top: 0;
        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;
          & + i {
            left: 1rem;
          }
          &:focus + i {
            left: 1rem;
          }
        }
      }
    }
    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;
      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }
    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;
        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}
</style>
