<template>
  <div>
    <!-- <vs-row vs-w="12"
      ><span class="table-id">โต๊ะ {{ Order.menu.table }}</span></vs-row
    > -->
    <vs-row vs-w="12" vs-justify="space-between" style="margin-bottom: 10px;">
      <vs-col
        vs-type="flex"
        vs-lg="3"
        vs-sm="4"
        vs-xs="12"
        v-bind:class="'sidebar'"
      >
        <div>
          <span class="table-id">โต๊ะ {{ Order.menu.table }}</span>
          <p>
            รหัสเข้าโต๊ะ
            <span style="color: #ff0000; font-weight: bold;">{{
              Order.menu.acessCode ? Order.menu.acessCode : "ไม่มีรหัสเข้าโต๊ะ"
            }}</span>
          </p>
        </div>
      </vs-col>
      <vs-col vs-lg="9" vs-sm="8" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <span style="float:right; display: flex;">
          <vs-button
            class="own-btn"
            icon="keyboard_backspace"
            @click.stop="goBack()"
            >ย้อนกลับ</vs-button
          >
        </span>
      </vs-col>
    </vs-row>
    <vs-row vs-w="12">
      <vs-col
        vs-type="flex"
        vs-lg="3"
        vs-sm="12"
        vs-xs="12"
        v-bind:class="'sidebar'"
      >
        <vs-row vs-w="12">
          <vs-col vs-lg="12" v-bind:style="'margin-top: 4%;'">
            <vx-card title="รายการ">
              <p>
                จำนวนลูกค้า (คน)
                <span style="float:right;"
                  >{{ Order.menu.customerNumber }}
                </span>
              </p>
              <p>
                จำนวน (รายการ)
                <span style="float:right;">{{ OrderCount }} </span>
              </p>
              <vs-divider />
              <div style="padding: 10px 0 10px 0;">
                <span style="float:left;">ยอดรวม</span>
                <span style="float:right;">{{ Sum | toCurrency }}</span>
              </div>
            </vx-card>
          </vs-col>
        </vs-row>
      </vs-col>
      <vs-col vs-lg="9" vs-sm="12" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <div id="data-list-list-view" class="data-list-container">
          <vs-table ref="table" :data="Order.menu.menu">
            <template slot="thead">
              <vs-th sort-key="time">เวลา</vs-th>
              <vs-th sort-key="foodName">รายการอาหาร</vs-th>
              <vs-th sort-key="foodDetail">หมายเหตุ</vs-th>
              <vs-th sort-key="quantity">จำนวน</vs-th>
              <vs-th sort-key="sumPrice">ราคา</vs-th>
              <vs-th sort-key="status">สถานะ</vs-th>
              <vs-th sort-key="user">ดำเนินการโดย</vs-th>
              <vs-th>จัดการ</vs-th>
            </template>

            <template slot-scope="{ data }">
              <tbody>
                <vs-tr
                  :data="tr"
                  :key="indextr"
                  v-for="(tr, indextr) in data"
                  :class="{ 'grey-disable': tr.status === 'ถูกยกเลิก' }"
                >
                  <vs-td>
                    <p class="table-tableIdfont-medium truncate">
                      {{ tr.time | formatTime }}
                    </p>
                  </vs-td>

                  <vs-td>
                    <p>
                      {{ tr.foodName }}
                    </p>
                  </vs-td>

                  <vs-td>
                    <p>
                      {{ tr.foodDetail }}
                    </p>
                  </vs-td>

                  <vs-td>
                    <p>
                      {{ tr.quantity }}
                    </p>
                  </vs-td>

                  <vs-td class="whitespace-no-wrap">
                    <p>
                      {{ tr.sumPrice | toCurrency }}
                    </p>
                  </vs-td>
                  <vs-td>
                    <p
                      class="status"
                      :class="{
                        'font-red': tr.status === 'ได้รับรายการ',
                        'font-yellow': tr.status === 'กำลังทำรายการ',
                        'font-green': tr.status === 'รายการสำเร็จ'
                      }"
                    >
                      {{ tr.status }}
                    </p>
                  </vs-td>
                  <vs-td>
                    <p>
                      {{ tr.user }}
                    </p>
                  </vs-td>
                  <vs-td>
                    <vs-button
                      color="danger"
                      type="filled"
                      @click="cancel(tr)"
                      v-if="tr.status === 'ได้รับรายการ'"
                    >
                      ยกเลิก
                    </vs-button>
                    <vs-button
                      color="warning"
                      type="filled"
                      @click="serve(tr)"
                      v-if="tr.status === 'กำลังทำรายการ'"
                    >
                      สำเร็จ
                    </vs-button>
                    <vs-button
                      color="success"
                      type="filled"
                      @click="cancelSuccess(tr)"
                      v-if="tr.status === 'รายการสำเร็จ'"
                    >
                      ยกเลิก
                    </vs-button>
                    <vs-button
                      color="dark"
                      type="filled"
                      @click="undoCancelSuccess(tr)"
                      v-if="tr.status === 'ยกเลิก'"
                    >
                      ยกเลิก
                    </vs-button>
                  </vs-td>
                </vs-tr>
              </tbody>
            </template>
          </vs-table>
        </div></vs-col
      >
    </vs-row>
    <vs-prompt
      title=""
      accept-text="ตกลง"
      cancel-text="ยกเลิก"
      color="danger"
      @cancel="close"
      @accept="acceptCancel"
      @close="close"
      :is-valid="cancelBy != ''"
      :active.sync="cancelPrompt"
    >
      <div class="con-exemple-prompt" style="text-align: center">
        <feather-icon
          icon="AlertCircleIcon"
          svgClasses="stroke-current text-warning"
          v-bind:class="'own-icon'"
        />
        <vs-select
          class="selectExample"
          v-model="cancelQuantity"
          style="margin: auto;"
          v-if="quantity > 1"
        >
          <vs-select-item :value="0" :text="'จำนวนที่ต้องการยกเลิก'" />
          <vs-select-item
            :key="item"
            :value="item"
            :text="item"
            v-bind:name="item"
            v-for="item in quantity"
          />
        </vs-select>
        <vs-select
          class="selectExample"
          v-model="cancelBy"
          style="margin: auto;"
        >
          <vs-select-item :value="''" :text="'กรุณาเลือกเหตุผลที่ยกเลิก'" />
          <vs-select-item
            name="ลูกค้าไม่รับ"
            :value="'ลูกค้าไม่รับ'"
            :text="'ลูกค้าไม่รับ'"
          />
          <vs-select-item name="ของหมด" :value="'ของหมด'" :text="'ของหมด'" />
        </vs-select>
      </div>
    </vs-prompt>
    <vs-prompt
      title=""
      accept-text="ตกลง"
      cancel-text="ยกเลิก"
      color="success"
      @cancel="close"
      @accept="acceptServe"
      @close="close"
      :active.sync="acceptPrompt"
    >
      <div class="con-exemple-prompt" style="text-align: center">
        <feather-icon
          icon="CheckCircleIcon"
          svgClasses="stroke-current text-success"
          v-bind:class="'own-icon'"
        />
        <p>
          คุณต้องการเสิร์ฟ {{ foodObject.foodName }} จำนวน
          {{ foodObject.quantity }} รายการ หรือไม่?
        </p>
      </div>
    </vs-prompt>
    <vs-prompt
      title=""
      accept-text="ตกลง"
      cancel-text="ยกเลิก"
      color="warning"
      @cancel="close"
      @accept="acceptCancelSuccess"
      @close="close"
      :active.sync="canlcelSuccessPrompt"
      :isValid="cancelBy != ''"
    >
      <div class="con-exemple-prompt" style="text-align: center">
        <feather-icon
          icon="AlertCircleIcon"
          svgClasses="stroke-current text-warning"
          v-bind:class="'own-icon'"
        />
        <vs-select
          class="selectExample"
          v-model="cancelQuantity"
          style="margin: auto;"
          v-if="quantity > 1"
        >
          <vs-select-item :value="0" :text="'จำนวนที่ต้องการยกเลิก'" />
          <vs-select-item
            :key="item"
            :value="item"
            :text="item"
            v-bind:name="item"
            v-for="item in quantity"
          />
        </vs-select>
        <vs-select
          class="selectExample"
          v-model="cancelBy"
          style="margin: auto;"
        >
          <vs-select-item :value="''" :text="'กรุณาเลือกเหตุผลที่ยกเลิก'" />
          <vs-select-item name="ของหมด" :value="'ของหมด'" :text="'ของหมด'" />
          <vs-select-item
            name="คืนสินค้า"
            :value="'คืนสินค้า'"
            :text="'คืนสินค้า'"
          />
          <vs-select-item
            name="ลูกค้าไม่รับ"
            :value="'ลูกค้าไม่รับ'"
            :text="'ลูกค้าไม่รับ'"
          />
          <vs-select-item
            name="ลูกค้าไม่ได้รับ"
            :value="'ลูกค้าไม่ได้รับ'"
            :text="'ลูกค้าไม่ได้รับ'"
          />
        </vs-select>
      </div>
    </vs-prompt>
  </div>
</template>

<script>
import moduleOrder from "@/store/order/moduleOrder.js";

export default {
  data() {
    return {
      idFoodItemMenu: "",
      foodObject: {},
      cancelPrompt: false,
      acceptPrompt: false,
      canlcelSuccessPrompt: false,
      cancelQuantity: 1,
      quantity: 0,
      cancelBy: ""
    };
  },
  computed: {
    id() {
      return this.$store.state.orderList.orderId
        ? this.$store.state.orderList.orderId
        : null;
    },
    activeUserInfo() {
      return this.$store.state.AppActiveUser;
    },
    Order() {
      return this.$store.state.orderList.orders
        ? this.$store.state.orderList.orders
        : [];
    },
    OrderList() {
      return this.$store.state.orderList.orders.menu.menu
        ? this.$store.state.orderList.orders.menu.menu.filter(item => {
            item.status == "รายการสำเร็จ";
          })
        : [];
    },
    OrderCount() {
      return this.$store.state.orderList.orders.menu.menu
        ? this.$store.state.orderList.orders.menu.menu.reduce(
            (acc, val) => acc + val.quantity,
            0
          )
        : 0;
    },
    Sum() {
      if (this.$store.state.orderList.orders.menu.menu) {
        if (this.$store.state.orderList.orders.menu.menu.length > 0) {
          let success = this.$store.state.orderList.orders.menu.menu.filter(
            item => item.status != "ยกเลิก"
          );
          let sum = success.reduce((acc, val) => acc + val.sumPrice, 0);
          return sum;
        } else return 0;
      } else return 0;
    }
  },
  methods: {
    acceptCancel() {
      if (this.cancelBy) {
        var obj = {
          _id: this.idFoodItemMenu,
          orderId: this.id,
          cancelBy: this.cancelBy,
          cancelQuantity: this.cancelQuantity,
          user: this.activeUserInfo.displayName
        };
        this.$store
          .dispatch("orderList/cancelOrder", obj)
          .then(result => {
            if (result.data.success) {
              this.$vs.notify({
                color: "success",
                title: "ออเดอร์",
                text: result.data.message
              });
              this.$store.dispatch("orderList/getOrder", this.id);
            }
          })
          .catch(err => {
            this.$vs.notify({
              color: "danger",
              title: "แก้ไขออเดอร์",
              text: "เกิดข้อผิดพลาดกรุณาลองอีกครั้งในภายหลัง"
            });
          });
      } else {
        this.$vs.notify({
          color: "warning",
          title: "แก้ไขออเดอร์",
          text: "กรุณาเลือกเหตุผลในการยกเลิก"
        });
      }
    },
    serve(FoodItemMenu) {
      this.acceptPrompt = true;
      this.foodObject = FoodItemMenu;
    },
    cancelSuccess(FoodItemMenu) {
      this.canlcelSuccessPrompt = true;
      this.foodObject = FoodItemMenu;
    },
    undoCancelSuccess(FoodItemMenu) {
      this.foodObject = FoodItemMenu;
      this.acceptCancelSuccess();
    },
    acceptCancelSuccess() {
      var obj = {
        _id: this.foodObject._id,
        status: this.foodObject.status,
        cancelBy: this.cancelBy,
        cancelQuantity: this.cancelQuantity,
        user: this.activeUserInfo.displayName
      };
      this.$store
        .dispatch("orderList/cancelSuccess", obj)
        .then(result => {
          if (result.data.success) {
            this.$vs.notify({
              color: "success",
              title: "ออเดอร์",
              text: result.data.message
            });
            this.$store.dispatch("orderList/getOrder", this.id);
          }
        })
        .catch(err => {
          this.$vs.notify({
            color: "danger",
            title: "แก้ไขออเดอร์",
            text: "เกิดข้อผิดพลาดกรุณาลองอีกครั้งในภายหลัง"
          });
        });
    },
    acceptServe() {
      var obj = {
        _id: this.foodObject._id,
        serve: this.activeUserInfo.displayName
      };
      this.$store
        .dispatch("orderList/serve", obj)
        .then(result => {
          if (result.data.success) {
            this.$vs.notify({
              color: "success",
              title: "ออเดอร์",
              text: result.data.message
            });
            this.$store.dispatch("orderList/getOrder", this.id);
          }
        })
        .catch(err => {
          this.$vs.notify({
            color: "danger",
            title: "แก้ไขออเดอร์",
            text: "เกิดข้อผิดพลาดกรุณาลองอีกครั้งในภายหลัง"
          });
        });
    },
    close() {},
    cancel(FoodItemMenu) {
      this.cancelBy = "";
      this.cancelQuantity = 1;
      this.idFoodItemMenu = FoodItemMenu._id;
      this.quantity = FoodItemMenu.quantity;
      this.cancelPrompt = true;
    },
    goBack() {
      this.$router.go(-1);
    }
  },
  created() {
    if (!moduleOrder.isRegistered) {
      this.$store.registerModule("orderList", moduleOrder);
      moduleOrder.isRegistered = true;
    }
    if (!this.id) {
      this.$router.go(-1);
    }
    // console.log(this.$acl.get[0]);
    
    this.$store.commit("orderList/SELECT_TABLE", null);
  }
};
</script>

<style lang="scss">
.table-id {
  font-size: 20px;
  font-weight: bold;
}

.grey-disable {
  background-color: #d8d8d8;
}
.status {
  font-weight: bold;
}

.font-red {
  color: red;
}
.font-yellow {
  color: #f0a139;
}
.font-green {
  color: #19cc19;
}

#data-list-list-view {
  .vs-con-table {
    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;
        .vs-table--search-input {
          width: 100%;
        }
      }
    }
    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }
    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;
        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }
    .product-name {
      max-width: 23rem;
    }
    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }
      .vs-table--search {
        padding-top: 0;
        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;
          & + i {
            left: 1rem;
          }
          &:focus + i {
            left: 1rem;
          }
        }
      }
    }
    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;
      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }
    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;
        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }
    .vs-table--pagination {
      justify-content: center;
    }
  }
}

.own-icon svg {
  height: 8em;
  margin-top: -4px;
  pointer-events: none;
  vertical-align: middle;
  width: 7em;
}
</style>
