<template>
  <div>
    <vs-row vs-w="12">
      <span class="table-id">โต๊ะ {{ table }}</span>
    </vs-row>
    <vs-row vs-w="12" vs-justify="space-between" style="margin-bottom: 10px;">
      <vs-col vs-type="flex" vs-lg="3" vs-sm="4" vs-xs="12" v-bind:class="'sidebar'">ตัวกรอง</vs-col>
      <vs-col vs-lg="9" vs-sm="8" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <span style="float:left;">{{ Items.length }} รายการ</span>
        <span style="float:right; display: flex;">
          <vs-button
            icon="done"
            style="margin-right: 5px;"
            :disabled="orders.length <= 0"
            @click="orderCheck"
          >ยืนยันรายการ</vs-button>
          <vs-button class="own-btn" icon="keyboard_backspace" @click.stop="goBack()">ย้อนกลับ</vs-button>
        </span>
      </vs-col>
    </vs-row>
    <vs-row vs-w="12" vs-justify="space-between">
      <vs-col vs-type="flex" vs-lg="3" vs-sm="4" vs-xs="12" v-bind:class="'sidebar'">
        <vs-row vs-w="12">
          <vs-col vs-lg="12">
            <vx-card title="ประเภทอาหาร">
              <ul class="leftx">
                <li>
                  <vs-radio
                    v-model="foodType"
                    vs-name="foodType"
                    vs-value
                    style="color: #00000; font-weight: bold;"
                  >ทั้งหมด</vs-radio>
                </li>
                <li>
                  <vs-radio v-model="foodType" vs-name="foodType" vs-value="อาหารคาว">
                    <p style="color: #fc1703; font-weight: bold;">อาหารคาว</p>
                  </vs-radio>
                </li>
                <li>
                  <vs-radio v-model="foodType" vs-name="foodType" vs-value="อาหารหวาน">
                    <p style="color: #0000ff; font-weight: bold;">อาหารหวาน</p>
                  </vs-radio>
                </li>
                <li>
                  <vs-radio
                    v-model="foodType"
                    vs-name="foodType"
                    vs-value="เครื่องดื่ม"
                    style="color: #289c59; font-weight: bold;"
                  >เครื่องดื่ม</vs-radio>
                </li>
                <li>
                  <vs-radio
                    v-model="foodType"
                    vs-name="foodType"
                    vs-value="อื่นๆ"
                    style="color: #ff9900; font-weight: bold;"
                  >อื่นๆ</vs-radio>
                </li>
              </ul>
            </vx-card>
          </vs-col>
          <vs-col vs-lg="12" v-bind:style="'margin-top: 4%;'">
            <vx-card title="รายการ">
              <div v-for="(order, index) in orders" :key="index" style="display: flex;">
                <div style="width: 80%">
                  <p>{{ order.foodName }}</p>
                  <p>
                    <span style="font-size: 10px;">*{{ order.foodDetail.substring(0, 30) }}</span>
                  </p>
                </div>
                <div style="width: 20%;display: flex;margin: auto;">
                  <span
                    style="padding-top: 2px;"
                  >{{ order.price | toCurrency }}x{{ order.quantity }}</span>
                  <feather-icon
                    @click="removeOrder(order)"
                    icon="XIcon"
                    svgClasses="stroke-current text-danger"
                  />
                </div>
              </div>
              <vs-divider />
              <div style="padding: 10px 0 10px 0;">
                <span style="float:left;">ยอดรวม</span>
                <span style="float:right;">{{ sum | toCurrency }}</span>
              </div>
            </vx-card>
          </vs-col>
        </vs-row>
      </vs-col>
      <vs-col vs-lg="9" vs-sm="8" vs-xs="12" v-bind:style="'margin-top: 0;'">
        <vs-row vs-w="12">
          <vs-col vs-lg="12">
            <vs-input
              icon="search"
              class="inputx"
              placeholder="ค้นหา"
              v-bind:style="'width: 100%'"
              v-model="searchText"
            ></vs-input>
          </vs-col>

          <vs-col vs-lg="12">
            <div class="items-list-view" v-for="(item, index) in Items" :key="item._id">
              <item-list-view :item="item" class="mb-base">
                <template slot="item-meta">
                  <h3>{{ item.foodName }}</h3>
                  <p>
                    <span>{{ item.foodType }}</span>
                  </p>
                  <p>{{ item.describe }}</p>
                  <div class="caution">
                    <label for="หมายเหตุ">หมายเหตุ:</label>
                    <vs-input
                      v-bind:style="'width: 100%'"
                      class="inputx"
                      :value="item.foodDetail"
                      @input="updateItemDetail($event, index, item)"
                    />
                  </div>
                </template>
                <template slot="item-action">
                  <div class="section-amount">
                    <p>จำนวน</p>
                    <vs-input-number
                      v-bind:class="'amountFont'"
                      :value="item.quantity"
                      @input="updateItemQuantity($event, index, item)"
                      min="1"
                      max="1"
                    />
                  </div>
                  <vs-button
                    color="success"
                    type="relief"
                    v-bind:style="'width:80%;'"
                    @click="addToCart(item)"
                  >เพิ่ม</vs-button>
                </template>
              </item-list-view>
            </div>
          </vs-col>
        </vs-row>
      </vs-col>
    </vs-row>
    <vs-prompt
      title
      accept-text="ตกลง"
      cancel-text="ยกเลิก"
      color="danger"
      @cancel="close"
      @accept="acceptCancel"
      @close="close"
      :active.sync="removePrompt"
    >
      <div class="con-exemple-prompt" style="text-align: center">ต้องการลบรายการนี้หรือไม่ ?</div>
    </vs-prompt>
  </div>
</template>

<script>
import moduleFoodMenu from "@/store/food-menu/moduleFoodMenu.js";
import moduleOrder from "@/store/order/moduleOrder.js";
const ItemListView = () => import("./components/ItemListView.vue");

export default {
  components: {
    ItemListView
  },
  data() {
    return {
      number: 1,
      foodDetail: "",
      searchText: "",
      foodType: "",
      removePrompt: false,
      orderObject: {},

      // pagination
      currentPage: 1,
      itemsPerPage: 10,
      fetchOption: {
        search: "",
        searchType: this.foodType,
        sort: {},
        page: this.currentPage,
        limit: this.itemsPerPage
      }
    };
  },
  watch: {
    searchText(newVal) {
      if (newVal.length >= 3) {
        this.fetchOption.search = newVal;
        this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
      }
      if (newVal.length === 0) {
        this.fetchOption.search = "";
        this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
      }
    },
    foodType(newVal) {
      this.fetchOption.searchType = newVal;
      this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
    }
  },
  methods: {
    addToCart(item, index) {
      this.$vs.notify({
        title: "สั่งอาหาร",
        text: `เพิ่ม ${item.foodName} 1 รายการสำเร็จ`,
        color: "success",
        iconPack: "feather",
        icon: "icon-alert-circle"
      });
      const obj = Object.assign({}, item);
      delete obj._id;
      obj.time = new Date().getTime();
      obj.tableId = this.table;
      obj.quantity = 1;
      obj.sumPrice = obj.price * obj.quantity;
      obj.foodDetail = obj.foodDetail ? obj.foodDetail : "-";
      obj.user = this.activeUserInfo.displayName;
      for (let index = 0; index < item.quantity; index++) {
        this.$store.commit("orderList/SET_ORDER", obj);
      }
      item.foodDetail = "";
      item.quantity = 1;
      this.number = 1;
      this.foodDetail = "";
    },
    orderCheck() {
      this.$store
        .dispatch("orderList/addOrder", this.$store.state.orderList)
        .then(result => {
          if (result.data.success) {
            this.$store.dispatch("orderList/getOrder", result.data.data);
            this.$vs.notify({
              title: "สั่งอาหาร",
              text: "ทำการเพิ่มรายการอาหารสำเร็จ",
              color: "success",
              iconPack: "feather",
              icon: "icon-alert-circle"
            });
            this.$router.push("/OrderTable");
          } else {
            this.$vs.notify({
              title: "เกิดข้อผิดพลาด",
              text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
              color: "danger",
              iconPack: "feather",
              icon: "icon-alert-circle"
            });
          }
        })
        .catch(err => {
          this.$vs.notify({
            title: "เกิดข้อผิดพลาด",
            text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
            color: "danger",
            iconPack: "feather",
            icon: "icon-alert-circle"
          });
        });
    },
    goBack() {
      this.$router.go(-1);
    },
    updateItemDetail(event, index, item) {
      item.foodDetail = event;
    },
    updateItemQuantity(event, index, item) {
      item.quantity = event;
    },
    removeOrder(order) {
      this.orderObject = order;
      this.removePrompt = true;
    },
    acceptCancel() {
      this.$store.commit(
        "orderList/REMOVE_ORDER_WITH_DETAIL",
        this.orderObject
      );
      this.orderObject = {};
    },
    close() {}
  },
  computed: {
    menus() {
      return this.$store.state.foodList.menus
        ? this.$store.state.foodList.menus
        : 0;
    },
    activeUserInfo() {
      return this.$store.state.AppActiveUser;
    },
    Items() {
      let obj = [];
      if (this.menus.docs) {
        obj = this.menus.docs.map(obj => ({
          ...obj,
          foodDetail: "",
          quantity: 1
        }));
        obj = Object.assign({}, obj);
      }
      return obj ? obj : [];
    },
    orders() {
      return this.$store.getters["orderList/groupOrder"];
    },
    sum() {
      if (this.$store.state.orderList.orders.menu.length > 0) {
        let sum = this.$store.state.orderList.orders.menu.reduce(
          (acc, val) => acc + val.price * val.quantity,
          0
        );
        return sum;
      } else return 0;
    },
    table() {
      return this.$store.state.orderList.orders.tableId
        ? this.$store.state.orderList.orders.tableId
        : 0;
    }
  },
  created() {
    if (!moduleFoodMenu.isRegistered) {
      this.$store.registerModule("foodList", moduleFoodMenu);
      moduleFoodMenu.isRegistered = true;
    }
    if (!moduleOrder.isRegistered) {
      this.$store.registerModule("orderList", moduleOrder);
      moduleOrder.isRegistered = true;
    }
    if (!this.$store.state.orderList.orders.tableId) {
      this.$vs.notify({
        title: "เกิดข้อผิดพลาด",
        text: "กรุณาเลือกโต๊ะ",
        color: "danger",
        iconPack: "feather",
        icon: "icon-alert-circle"
      });
      this.$router.push("/OrderTable");
    }
    this.fetchOption.searchType = this.foodType;
    this.$store.dispatch("foodList/fetchMenus", this.fetchOption);
  }
};
</script>

<style lang="stylus" scoped>
.section-amount {
  background-color: #f5f5f5;
  margin: 8px 0 12px 0;
  padding: 8px;
}

.caution {
  padding-top: 25px;
}

.vs-input-number {
  font-size: 16px !important;
}

.section-padding {
  padding: 1em;
}

.sidebar {
  padding-right: 4%;
  height: fit-content;
  margin-bottom: 10px;
}

@media only screen and (max-device-width: 640px) {
  /* Styles */
  .sidebar {
    padding-right: 0;
  }
}

.product {
  margin: 10px 0 10px;
}

.table-id {
  font-size: 26px;
}
</style>
