<template>
  <div id="dashboard-analytics">
    <vs-row style="margin-bottom: 20px;">
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12">
        <h3>เลือกวันที่ต้องการดู</h3>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันเริ่มต้น
        <datepicker
          placeholder="เลือกวันที่"
          v-model="dateStart"
          :language="th"
          :disabled-dates="disableStart"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="4" vs-sm="6" vs-xs="12" style="padding: 0 20px 0 20px">
        วันสิ้นสุด
        <datepicker
          placeholder="เลือกวันที่"
          v-model="dateEnd"
          :language="th"
          :disabled-dates="disableEnd"
        ></datepicker>
      </vs-col>
      <vs-col vs-lg="2" vs-sm="12" vs-xs="12" class="back-section">
        <div class="own-btn">
          <vs-button
            style="width: 100%;"
            icon="keyboard_backspace"
            @click.stop="$router.go(-1)"
          >ย้อนกลับ</vs-button>
        </div>
      </vs-col>
    </vs-row>

    <div class="vx-row">
      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="UsersIcon"
          :statistic="`${customer} คน`"
          statisticTitle="จำนวนลูกค้า"
          color="#7367F0"
          type="area"
          :chartData="customerCard"
        ></statistics-card-line>
      </div>

      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <statistics-card-line
          icon="DollarSignIcon"
          :statistic="income | toCurrency"
          statisticTitle="รายได้รวม"
          type="area"
          color="success"
          :chartData="valueCard"
        ></statistics-card-line>
      </div>

      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <div @click="$router.push('/dashboard/bill')">
          <statistics-card-line
            icon="ShoppingBagIcon"
            :statistic="`${billTotal} รายการ`"
            statisticTitle="จำนวนบิล (คลิ๊กเพื่อดูรายละเอียด)"
            color="warning"
            type="area"
            :chartData="billCard"
          ></statistics-card-line>
        </div>
      </div>

      <div class="vx-col w-full sm:w-1/2 md:w-1/2 lg:w-1/4 xl:w-1/4 mb-base">
        <div @click="$router.push('/dashboard/cancel')">
          <statistics-card-line
            icon="XCircleIcon"
            :statistic="`${cancel} รายการ`"
            statisticTitle="ยอดยกเลิก (คลิ๊กเพื่อดูรายละเอียด)"
            color="danger"
            type="area"
            :chartData="cancelCard"
          ></statistics-card-line>
        </div>
      </div>
    </div>
    <div class="vx-row">
      <div class="vx-col w-full md:w-3/3 mb-base">
        <vx-card title="ผลประกอบการ" id="revenue" class="vs-con-loading__container">
          <template slot="actions">
            <vs-dropdown>
              <a class="a-icon" href="#">
                {{revenueType}}
                <vs-icon class icon="expand_more"></vs-icon>
              </a>

              <vs-dropdown-menu>
                <vs-dropdown-item @click="revenueType='รายเดือน'">รายเดือน</vs-dropdown-item>
                <vs-dropdown-item @click="revenueType='รายปี'">รายปี</vs-dropdown-item>
              </vs-dropdown-menu>
            </vs-dropdown>
          </template>

          <div slot="no-body" class="p-6 pb-0" v-if="revenueType == 'รายเดือน'">
            <div class="flex" v-if="revenueData.analyticsData">
              <div class="mr-6">
                <p class="mb-1 font-semibold">เดือนนี้</p>
                <p class="text-3xl text-success">
                  <sup class="text-base mr-1">฿</sup>
                  {{ revenueData.analyticsData.thisMonth.toLocaleString() }}
                </p>
              </div>
              <div>
                <p class="mb-1 font-semibold">เดือนที่แล้ว</p>
                <p class="text-3xl">
                  <sup class="text-base mr-1">฿</sup>
                  {{ revenueData.analyticsData.lastMonth.toLocaleString() }}
                </p>
              </div>
            </div>
            <datepicker
              :language="th"
              v-model="monthSelect"
              format="yyyy-MM"
              :minimumView="'month'"
              :maximumView="'year'"
            ></datepicker>
            <vue-apex-charts
              type="line"
              height="266"
              :options="revenueData.chartOptions"
              :series="revenueData.series"
            />
          </div>
          <!-- รายปี -->
          <div slot="no-body" class="p-6 pb-0" v-if="revenueType == 'รายปี'">
            <div class="flex" v-if="revenueDataYear.analyticsData">
              <div class="mr-6">
                <p class="mb-1 font-semibold">ปีนี้</p>
                <p class="text-3xl text-success">
                  <sup class="text-base mr-1">฿</sup>
                  {{ revenueDataYear.analyticsData.thisYear.toLocaleString() }}
                </p>
              </div>
              <div>
                <p class="mb-1 font-semibold">ปีที่แล้ว</p>
                <p class="text-3xl">
                  <sup class="text-base mr-1">฿</sup>
                  {{ revenueDataYear.analyticsData.lastYear.toLocaleString() }}
                </p>
              </div>
            </div>
            <datepicker
              :language="th"
              v-model="yearSelect"
              format="yyyy"
              :minimumView="'year'"
              :maximumView="'year'"
            ></datepicker>
            <vue-apex-charts
              type="line"
              height="266"
              :options="revenueDataYear.chartOptions"
              :series="revenueDataYear.series"
            />
          </div>
        </vx-card>
      </div>
    </div>

    <div class="vx-row" v-if="bestSell">
      <!-- CARD 9: DISPATCHED ORDERS -->
      <div class="vx-col w-full">
        <vx-card title="อาหารขายดี !">
          <div slot="no-body" class="mt-4">
            <vs-table :data="bestSell" class="table-dark-inverted">
              <template slot="thead">
                <vs-th>อันดับ</vs-th>
                <vs-th>ชื่อรายการ</vs-th>
                <vs-th>จำนวน</vs-th>
                <vs-th>มูลค่ารวม</vs-th>
              </template>

              <template slot-scope="{ data }">
                <vs-tr :key="indextr" v-for="(tr, indextr) in data">
                  <vs-td :data="tr._id">
                    <span>{{ indextr + 1 }}</span>
                  </vs-td>
                  <vs-td :data="tr._id">
                    <span class="flex items-center px-2 py-1 rounded">
                      <div class="h-3 w-3 rounded-full mr-2" :class="'bg-success'"></div>
                      {{ tr._id }}
                    </span>
                  </vs-td>
                  <vs-td :data="tr.orderCount">
                    <span>{{ tr.orderCount }}</span>
                  </vs-td>
                  <vs-td :data="tr.orderValue">
                    <span>{{ tr.orderValue | toCurrency }}</span>
                  </vs-td>
                </vs-tr>
              </template>
            </vs-table>
          </div>
        </vx-card>
      </div>
    </div>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";
import StatisticsCardLine from "@/components/statistics-cards/StatisticsCardLine.vue";
import analyticsData from "./ui-elements/card/analyticsData.js";
import ChangeTimeDurationDropdown from "@/components/ChangeTimeDurationDropdown.vue";
import VxTimeline from "@/components/timeline/VxTimeline";
import Datepicker from "vuejs-datepicker";
import { th } from "vuejs-datepicker/dist/locale";

import moduleReport from "@/store/report/moduleReport.js";
import moment from "moment";

export default {
  data() {
    return {
      dateStart: new Date(new Date().setDate(new Date().getDate() - 7)),
      dateEnd: new Date(),
      monthSelect: new Date(),
      yearSelect: new Date(),
      revenueType: "รายเดือน",

      analyticsData: analyticsData,
      revenueData: {
        analyticsData: {
          thisMonth: 0,
          lastMonth: 0
        },
        series: [],
        chartOptions: {
          chart: {
            toolbar: { show: false },
            dropShadow: {
              enabled: true,
              top: 5,
              left: 0,
              blur: 4,
              opacity: 0.1
            }
          },
          stroke: {
            curve: "smooth",
            dashArray: [0, 8],
            width: [4, 2]
          },
          grid: {
            borderColor: "#e7e7e7"
          },
          legend: {
            show: false
          },
          colors: ["#F97794", "#b8c2cc"],
          fill: {
            type: "gradient",
            gradient: {
              shade: "dark",
              inverseColors: false,
              gradientToColors: ["#7367F0", "#b8c2cc"],
              shadeIntensity: 1,
              type: "horizontal",
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 100, 100, 100]
            }
          },
          markers: {
            size: 0,
            hover: {
              size: 5
            }
          },
          xaxis: {
            labels: {
              style: {
                cssClass: "text-grey fill-current"
              }
            },
            axisTicks: {
              show: false
            },
            axisBorder: {
              show: false
            }
          },
          yaxis: {
            tickAmount: 5,
            labels: {
              style: {
                cssClass: "text-grey fill-current"
              },
              formatter: function(val) {
                return val > 999 ? (val / 1000).toFixed(1) + "k" : val;
              }
            }
          },
          tooltip: {
            x: { show: false }
          }
        }
      },

      revenueDataYear: {
        analyticsData: {
          thisYear: 0,
          lastYear: 0
        },
        series: [],
        chartOptions: {
          chart: {
            toolbar: { show: false },
            dropShadow: {
              enabled: true,
              top: 5,
              left: 0,
              blur: 4,
              opacity: 0.1
            }
          },
          stroke: {
            curve: "smooth",
            dashArray: [0, 8],
            width: [4, 2]
          },
          grid: {
            borderColor: "#e7e7e7"
          },
          legend: {
            show: false
          },
          colors: ["#F97794", "#b8c2cc"],
          fill: {
            type: "gradient",
            gradient: {
              shade: "dark",
              inverseColors: false,
              gradientToColors: ["#7367F0", "#b8c2cc"],
              shadeIntensity: 1,
              type: "horizontal",
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 100, 100, 100]
            }
          },
          markers: {
            size: 0,
            hover: {
              size: 5
            }
          },
          xaxis: {
            labels: {
              style: {
                cssClass: "text-grey fill-current"
              }
            },
            axisTicks: {
              show: false
            },
            axisBorder: {
              show: false
            }
          },
          yaxis: {
            tickAmount: 5,
            labels: {
              style: {
                cssClass: "text-grey fill-current"
              },
              formatter: function(val) {
                return val > 999 ? (val / 1000).toFixed(1) + "k" : val;
              }
            }
          },
          tooltip: {
            x: { show: false }
          }
        }
      },

      checkpointReward: {},
      subscribersGained: {},
      ordersRecevied: {},
      salesBarSession: {},
      supportTracker: {},
      productsOrder: {},
      salesRadar: {},
      th: th,
      disableStart: {
        from: new Date()
      },
      disableEnd: {
        to: new Date(new Date().setDate(new Date().getDate() - 7)),
        from: new Date()
      },

      billCard: [
        {
          name: "จำนวนบิล",
          data: [0]
        }
      ],
      customerCard: [
        {
          name: "จำนวนลูกค้า",
          data: [0]
        }
      ],
      valueCard: [
        {
          name: "จำนวนรายได้",
          data: [0]
        }
      ],
      cancelCard: [
        {
          name: "จำนวนยอดยกเลิก",
          data: [0]
        }
      ],

      analyticsData: analyticsData,
      dispatchedOrders: [],

      revenueComparisonLine: {}
    };
  },
  components: {
    VueApexCharts,
    StatisticsCardLine,
    ChangeTimeDurationDropdown,
    VxTimeline,
    Datepicker
  },
  methods: {
    reportRevenue() {
      this.$vs.loading({
        container: "#revenue",
        scale: 0.6
      });
      this.$store
        .dispatch("report/getReportRevenue", this.axiosParamsMonth)
        .then(result => {
          this.revenueData.series = [
            {
              name: "เดือนนี้",
              data: result.data.data.thisMonth[0].value
            },
            {
              name: "เดือนที่แล้ว",
              data: result.data.data.lastMonth[0].value
            }
          ];
          this.reportSummary();
          this.$vs.loading.close("#revenue > .con-vs-loading");
        })
        .catch(err => {
          this.$vs.loading.close("#revenue > .con-vs-loading");
        });
    },
    reportRevenueYear() {
      this.$vs.loading({
        container: "#revenue",
        scale: 0.6
      });
      this.$store
        .dispatch("report/getReportRevenueYear", this.axiosParamsYear)
        .then(result => {
          const empty = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          const thisYear = result.data.data.thisYear.length > 0 ? result.data.data.thisYear[0].value : empty
          const lastYear = result.data.data.lastYear.length > 0 ? result.data.data.lastYear[0].value : empty
          this.revenueDataYear.series = [
            {
              name: "ปีนี้",
              data: thisYear
            },
            {
              name: "ปีที่แล้ว",
              data: lastYear
            }
          ];
          this.reportSummaryYear();
          this.$vs.loading.close("#revenue > .con-vs-loading");
        })
        .catch(err => {
          this.$vs.loading.close("#revenue > .con-vs-loading");
        });
    },
    reportSummary() {
      this.$store
        .dispatch("report/getReportSummary", this.axiosParamsMonth)
        .then(result => {
          if (result.data.data.thisMonth.length > 0) {
            // have data
            this.revenueData.analyticsData.thisMonth =
              result.data.data.thisMonth[0].income;
          } else {
            // not have data
            this.revenueData.analyticsData.thisMonth = 0;
          }
          if (result.data.data.lastMonth.length > 0) {
            // have data
            this.revenueData.analyticsData.lastMonth =
              result.data.data.lastMonth[0].income;
          } else {
            // not have data
            this.revenueData.analyticsData.lastMonth = 0;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },

    reportSummaryYear() {
      this.$store
        .dispatch("report/getReportSummaryYear", this.axiosParamsYear)
        .then(result => {
          console.log("year");
          console.log(result);

          if (result.data.data.thisYear.length > 0) {
            // have data
            this.revenueDataYear.analyticsData.thisYear =
              result.data.data.thisYear[0].income;
          } else {
            // not have data
            this.revenueDataYear.analyticsData.thisYear = 0;
          }
          if (result.data.data.lastYear.length > 0) {
            // have data
            this.revenueDataYear.analyticsData.lastYear =
              result.data.data.lastYear[0].income;
          } else {
            // not have data
            this.revenueDataYear.analyticsData.lastYear = 0;
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    report() {
      this.$vs.loading();
      this.$store
        .dispatch("report/getReport", this.axiosParams)
        .then(result => {
          if (result.data.success) {
          }
          this.$vs.loading.close();
        })
        .catch(err => {
          this.$vs.loading.close();
          this.$vs.notify({
            title: "เกิดข้อผิดพลาด",
            text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
            color: "danger",
            iconPack: "feather",
            icon: "icon-alert-circle"
          });
        });
      this.reportCard();
    },
    reportCard() {
      this.$vs.loading();
      this.$store
        .dispatch("report/getReportCard", this.axiosParams)
        .then(result => {
          if (result.data.success) {
            let start = moment(this.dateStart)
              .add(1, "day")
              .format("Y/M/D");
            let end = moment(this.dateEnd)
              .add(1, "day")
              .format("Y/M/D");
            const dates = [
              ...Array(
                Date.parse(end) / 86400000 - Date.parse(start) / 86400000 + 1
              ).keys()
            ].map(k =>
              new Date(86400000 * k + Date.parse(start))
                .toISOString()
                .slice(0, 10)
                .replace(/-0(\d)$/, "-$1")
            );

            let bCard = [];
            let vCard = [];
            let cCard = [];
            let ccCard = [];

            let billIndex = 0,
              customerIndex = 0,
              cancelIndex = 0;

            try {
              for (let i = 0; i < dates.length; i++) {
                if (result.data.data.bill[billIndex]) {
                  if (dates[i] === result.data.data.bill[billIndex]._id) {
                    vCard.push(result.data.data.bill[billIndex].income);
                    bCard.push(result.data.data.bill[billIndex].totalBill);
                    billIndex++;
                  } else {
                    bCard.push(0);
                    vCard.push(0);
                  }
                } else {
                  bCard.push(0);
                  vCard.push(0);
                }

                if (result.data.data.customer[customerIndex]) {
                  if (
                    dates[i] === result.data.data.customer[customerIndex]._id
                  ) {
                    cCard.push(
                      result.data.data.customer[customerIndex].customerCount
                    );
                    customerIndex++;
                  } else {
                    cCard.push(0);
                  }
                } else {
                  cCard.push(0);
                }

                if (result.data.data.customer[cancelIndex]) {
                  if (dates[i] === result.data.data.customer[cancelIndex]._id) {
                    ccCard.push(
                      result.data.data.customer[cancelIndex].customerCount
                    );
                    cancelIndex++;
                  } else {
                    ccCard.push(0);
                  }
                } else {
                  ccCard.push(0);
                }
              }
            } catch (error) {
              console.log(error);
            }

            this.billCard = [
              {
                name: "จำนวนบิล",
                data: bCard
              }
            ];
            this.valueCard = [
              {
                name: "จำนวนเงิน",
                data: vCard
              }
            ];
            this.customerCard = [
              {
                name: "จำนวนลูกค้า",
                data: cCard
              }
            ];
            this.cancelCard = [
              {
                name: "จำนวนยกเลิก",
                data: ccCard
              }
            ];
          }
          this.$vs.loading.close();
        })
        .catch(err => {
          this.$vs.loading.close();
          this.$vs.notify({
            title: "เกิดข้อผิดพลาด",
            text: "กรุณาลองใหม่อีกครั้งในภายหลัง",
            color: "danger",
            iconPack: "feather",
            icon: "icon-alert-circle"
          });
        });
    }
  },
  watch: {
    dateStart(newVal, oldVal) {
      this.report();
      this.disableEnd.to = this.dateStart;
    },
    dateEnd(newVal, oldVal) {
      this.report();
      this.disableStart.from = this.dateEnd;
    },
    monthSelect(newVal, oldVal) {
      this.reportRevenue();
    },
    yearSelect(newVal, oldVal) {
      this.reportRevenueYear();
    }
  },
  computed: {
    axiosParams() {
      let start = new Date(new Date(this.dateStart).setHours(0, 0, 0, 0));
      let stop = new Date(new Date(this.dateEnd).setHours(24, 0, 0, 0));
      const params = new URLSearchParams();
      params.append("dateStart", start);
      params.append("dateEnd", stop);
      return params;
    },
    axiosParamsMonth() {
      const params = new URLSearchParams();
      params.append("month", this.monthSelect);
      return params;
    },
    axiosParamsYear() {
      const params = new URLSearchParams();
      params.append("year", this.yearSelect);
      return params;
    },
    billTotal() {
      return this.$store.state.report.data.bill
        ? this.$store.state.report.data.bill[0]
          ? this.$store.state.report.data.bill[0].totalBill
          : 0
        : 0;
    },
    income() {
      return this.$store.state.report.data.bill
        ? this.$store.state.report.data.bill[0]
          ? this.$store.state.report.data.bill[0].income
          : 0
        : 0;
    },
    customer() {
      return this.$store.state.report.data.customer
        ? this.$store.state.report.data.customer[0]
          ? this.$store.state.report.data.customer[0].customerCount
          : 0
        : 0;
    },
    cancel() {
      return this.$store.state.report.data.cancel
        ? this.$store.state.report.data.cancel[0]
          ? this.$store.state.report.data.cancel[0].cancelCount
          : 0
        : 0;
    },
    bestSell() {
      return this.$store.state.report.data.bestSell
        ? this.$store.state.report.data.bestSell
        : [];
    },
    bill() {
      return this.$store.state.report.bill ? this.$store.state.report.bill : [];
    }
  },
  created() {
    if (!moduleReport.isRegistered) {
      this.$store.registerModule("report", moduleReport);
      moduleReport.isRegistered = true;
    }
    this.report();
  },
  mounted() {
    this.reportRevenue();
    this.reportRevenueYear();
  }
};
</script>

<style>
.back-section {
  margin: auto;
}
.own-btn {
  padding-top: 18px;
}
</style>

<style lang="scss">
/*! rtl:begin:ignore */
#dashboard-analytics {
  .greet-user {
    position: relative;

    .decore-left {
      position: absolute;
      left: 0;
      top: 0;
    }
    .decore-right {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @media (max-width: 576px) {
    .decore-left,
    .decore-right {
      width: 140px;
    }
  }
}
/*! rtl:end:ignore */
</style>
