<template>
  <!-- HORIZONTAL LAYOUT -->
  <div class="vx-col md:w-1/2 w-full mb-base">
    <vx-card title="เปลี่ยนรหัสผ่าน">
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>ชื่อผู้ใช้งาน</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-input
            disabled
            class="w-full"
            v-model="username"
            placeholder="ชื่อผู้ใช้งาน"
          />
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>รหัสผ่านเดิม</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-input
            class="w-full"
            type="password"
            v-model="oldPassword"
            v-validate="'required|min:6'"
            placeholder="รหัสผ่านเดิม"
            name="item-oldPassword"
          />
          <span
            class="text-danger text-sm"
            v-show="errors.has('item-oldPassword')"
            >{{ errors.first("item-oldPassword") }}</span
          >
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>รหัสผ่านใหม่</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-input
            class="w-full"
            type="password"
            v-model="newPassword"
            ref="newPassword"
            v-validate="'required|min:6'"
            placeholder="รหัสผ่านใหม่"
            name="item-newPassword"
          />
          <span
            class="text-danger text-sm"
            v-show="errors.has('item-newPassword')"
            >{{ errors.first("item-newPassword") }}</span
          >
        </div>
      </div>
      <div class="vx-row mb-6">
        <div class="vx-col sm:w-1/3 w-full">
          <span>ยืนยันรหัสผ่านใหม่</span>
        </div>
        <div class="vx-col sm:w-2/3 w-full">
          <vs-input
            class="w-full"
            type="password"
            v-model="confirmPassword"
            v-validate="'required|min:6|confirmed:newPassword'"
            placeholder="ยืนยันรหัสผ่านใหม่"
            name="item-confirmPassword"
          />
          <span
            class="text-danger text-sm"
            v-show="errors.has('item-confirmPassword')"
            >{{ errors.first("item-confirmPassword") }}</span
          >
        </div>
      </div>
      <div class="vx-row">
        <div class="vx-col sm:w-2/3 w-full ml-auto">
          <vs-button
            class="mr-3 mb-2"
            @click="submitData"
            :disabled="!isFormValid"
            >เปลี่ยนรหัสผ่าน</vs-button
          >
          <vs-button color="danger" type="filled" class="mb-2" @click="reset()"
            >ล้างค่า</vs-button
          >
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import moduleUser from "@/store/user/moduleUser.js";

export default {
  data() {
    return {
      username: this.$store.state.AppActiveUser.about,
      oldPassword: "",
      newPassword: "",
      confirmPassword: ""
    };
  },
  computed: {
    isFormValid() {
      return (
        !this.errors.any() &&
        this.oldPassword &&
        this.newPassword &&
        this.confirmPassword
      );
    }
  },
  methods: {
    reset() {
      this.oldPassword = "";
      this.newPassword = "";
      this.confirmPassword = "";
      this.$validator.reset();
    },
    submitData() {
      this.$validator.validateAll().then(result => {
        if (result) {
          const obj = {
            username: this.username,
            oldPassword: this.oldPassword,
            newPassword: this.newPassword
          };
          this.$store
            .dispatch("userList/changePassword", obj)
            .then(result => {
              if (result.data.success) {
                this.$vs.notify({
                  color: "success",
                  title: "แก้ไขรหัสผ่าน",
                  text: result.data.message
                });
                this.reset()
              } else {
                this.$vs.notify({
                  color: "danger",
                  title: "แก้ไขรหัสผ่าน",
                  text: result.data.message
                });
              }
            })
            .catch(err => {
              this.$vs.notify({
                color: "danger",
                title: "เกิดข้อผิดพลาด",
                text: "เกิดข้อผิดพลาด, กรุณาลองใหม่อีกครั้งในภายหลัง"
              });
            });
        }
      });
    }
  },
  created() {
    if (!moduleUser.isRegistered) {
      this.$store.registerModule("userList", moduleUser);
      moduleUser.isRegistered = true;
    }
  }
};
</script>

<style></style>
