<template>
  <vx-card class="cardx product">
    <vs-row>
      <vs-col v-bind:class="'section-padding'" vs-lg="3" vs-xs="12">
        <img
          :src="item.foodImage ? `${serverUrl}${item.foodImage}` : require('@/assets/images/unknown.png')"
          style="max-height:100%;max-width:100%; margin: auto;"
        />
      </vs-col>
      <vs-col v-bind:class="'section-padding'" vs-lg="5" vs-xs="12">
        <slot name="item-meta">
          <!-- <h3>{{ item.foodName }}</h3>
          <p>
            <span>{{ item.foodType }}</span>
          </p>
          <p>{{ item.describe }}</p> -->
          <!-- <div class="caution">
            <label for="หมายเหตุ">หมายเหตุ:</label>
            <vs-input
              v-bind:style="'width: 100%'"
              class="inputx"
              placeholder="ระบุหมายเหตุ"
              v-model="foodDetail"
            />
          </div> -->
        </slot>
      </vs-col>
      <vs-col
        vs-lg="4"
        vs-xs="12"
        v-bind:style="
          'text-align: center; padding: 1em; border-left: 1px solid #dae1e7;'
        "
      >
        <h3>{{ item.price | toCurrency }}</h3>
        <slot name="item-action">
          <!-- <div class="section-amount">
            <p>จำนวน</p>
            <vs-input-number
              v-bind:class="'amountFont'"
              v-model="number"
              min="1"
              max="10"
            />
          </div>
          <vs-button
            color="success"
            type="relief"
            v-bind:style="'width:80%;'"
            @click="addToCart(item)"
            >เพิ่ม</vs-button
          > -->
        </slot>
      </vs-col>
    </vs-row>
  </vx-card>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    serverUrl() {
      return process.env.VUE_APP_SERVER_URL
    }
  },
  methods: {}
};
</script>

<style scoped>
.section-padding {
  margin: auto;
  padding: 1em;
}
</style>
