<template>
  <div id="data-list-list-view" class="data-list-container">
    <vs-table
      ref="table"
      sort
      :max-items="itemsPerPage"
      :data="Items"
      search
      pagination
    >
      <div
        slot="header"
        class="flex flex-wrap-reverse items-center flex-grow justify-between"
      >
        <div
          class="flex flex-wrap-reverse items-center data-list-btn-container"
        >
          <!-- ITEMS PER PAGE -->
          <vs-dropdown
            vs-trigger-click
            class="cursor-pointer mb-4 mr-4 items-per-page-handler"
          >
            <div
              class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium"
            >
              <span class="mr-2"
                >{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} -
                {{
                  Items.length - currentPage * itemsPerPage > 0
                    ? currentPage * itemsPerPage
                    : Items.length
                }}
                of {{ queriedItems }}</span
              >
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>
              <vs-dropdown-item @click="itemsPerPage = 10">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="itemsPerPage = 20">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="itemsPerPage = 50">
                <span>50</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>

        <!-- ADD NEW -->

        <div
          class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary"
          @click="$router.go(-1)"
        >
          <!-- <span  class="text-center" style="width: 100px;" >เพิ่ม</span> -->
          <vs-button color="success" type="filled" style="width: 150px;"
            >รายการรอทำ</vs-button
          >
        </div>
      </div>

      <template slot="thead">
        <vs-th sort-key="name">เวลา</vs-th>
        <vs-th sort-key="username">รายการอาหาร</vs-th>
        <vs-th sort-key="tableId">โต๊ะ</vs-th>
        <vs-th sort-key="email">จำนวน</vs-th>
        <vs-th sort-key="foodDetail">หมายเหตุ</vs-th>
        <vs-th>ยกเลิก</vs-th>
      </template>

      <template slot-scope="{ data }">
        <tbody>
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td>
              <p class="user-full-name font-medium truncate">
                {{ tr.time | formatTime }}
              </p>
            </vs-td>

            <vs-td>
              <p class="user-username">{{ tr.foodName }}</p>
            </vs-td>

            <vs-td>
              <p class="user-telephone">{{ tr.tableId }}</p>
            </vs-td>

            <vs-td>
              <p class="user-email">{{ tr.quantity }}</p>
            </vs-td>

            <vs-td>
              <p class="user-role">{{ tr.foodDetail }}</p>
            </vs-td>
            <vs-td>
              <!-- <feather-icon
                icon="TrashIcon"
                svgClasses="w-5 h-5 hover:text-danger stroke-current"
                class="ml-2"
                @click.stop="confirmDelete(tr._id)"
              /> -->

              <vs-button
                color="danger"
                type="filled"
                @click="cancel(tr)"
                style="width: 100px;"
                >ยกเลิก</vs-button
              >
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
    <vs-prompt
      title=""
      accept-text="ตกลง"
      cancel-text="ยกเลิก"
      color="danger"
      @cancel="close"
      @accept="acceptCancel"
      @close="close"
      :is-valid="cancelBy!=''"
      :active.sync="cancelPrompt"
    >
      <div class="con-exemple-prompt" style="text-align: center">
        <feather-icon
          icon="AlertCircleIcon"
          svgClasses="stroke-current text-warning"
          v-bind:class="'own-icon'"
        />
        <vs-select
          name="cancel-quantity"
          class="selectExample"
          v-model="cancelQuantity"
          style="margin: auto;"
          v-if="quantity > 1"
        >
          <vs-select-item :value="0" :text="'จำนวนที่ต้องการยกเลิก'" />
          <vs-select-item
            :key="item"
            :value="item"
            :text="item"
            v-bind:name="item"
            v-for="item in quantity"
          />
        </vs-select>
        <vs-select
          name="cancel"
          class="selectExample"
          v-model="cancelBy"
          style="margin: auto;"
        >
          <vs-select-item :value="''" :text="'กรุณาเลือกเหตุผลที่ยกเลิก'" />
          <vs-select-item
            name="ลูกค้าไม่รับ"
            :value="'ลูกค้าไม่รับ'"
            :text="'ลูกค้าไม่รับ'"
          />
          <vs-select-item name="ของหมด" :value="'ของหมด'" :text="'ของหมด'" />
        </vs-select>
      </div>
    </vs-prompt>
  </div>
</template>

<script>
import moduleUser from "@/store/user/moduleUser.js";
import moduleOrder from "@/store/order/moduleOrder.js";

export default {
  watch: {},
  data() {
    return {
      idFoodItemMenu: "",
      cancelQuantity: 1,
      quantity: 0,
      cancelBy: "",

      settings: {
        // perfectscrollbar settings
        maxScrollbarLength: 60,
        wheelSpeed: 0.6
      },
      // products: [],
      itemsPerPage: 10,
      isMounted: false,

      orderObject: {},
      cancelPrompt: false,
      orderPrompt: false,

      //pagination
      fetchOption: {
        search: "",
        sort: {},
        page: 1,
        limit: this.itemsPerPage
      }
    };
  },

  computed: {
    currentPage() {
      if (this.isMounted) {
        return this.$refs.table.currentx;
      }
      return 0;
    },
    menus() {
      return this.$store.state.orderList.history.menu;
    },
    Items() {
      return this.menus ? this.menus : [];
    },
    queriedItems() {
      return this.$refs.table
        ? this.$refs.table.queriedResults.length
        : this.Items.length;
    },
    activeUserInfo() {
      return this.$store.state.AppActiveUser;
    },
    isFormValid() {
      return (
        !this.errors.any() &&
        this.username &&
        this.password &&
        this.firstName &&
        this.lastName &&
        this.email &&
        this.telephone
      );
    },
    scrollbarTag() {
      return this.$store.getters.scrollbarTag;
    }
  },
  methods: {
    acceptOrder(order) {
      this.orderObject = order;
      this.orderPrompt = true;
    },
    acceptAll() {
      var order = this.Items.filter(item => {
        return item.foodName === this.orderObject.foodName;
      });
      order = order.map(item => {
        return item._id;
      });
      var obj = {
        userId: this.activeUserInfo.id,
        order: order,
        kitchen: this.activeUserInfo.displayName
      };
      this.postAction(obj);
    },
    acceptOne() {
      var order = [this.orderObject._id];
      var obj = {
        userId: this.activeUserInfo.id,
        order: order,
        kitchen: this.activeUserInfo.displayName
      };
      this.postAction(obj);
    },
    postAction(order) {
      this.$store
        .dispatch("orderList/acceptOrder", order)
        .then(result => {
          this.$vs.notify({
            color: "success",
            title: "รับออเดอร์",
            text: result.data.message
          });
          this.$store.dispatch(
            "orderList/getOrderHistory",
            this.$store.state.AppActiveUser.id
          );
        })
        .catch(err => {
          this.$vs.notify({
            color: "danger",
            title: "เกิดข้อผิดพลาด",
            text: err.data.message
          });
        });
    },
    acceptCancel() {
      if (this.cancelBy) {
        var obj = {
          _id: this.idFoodItemMenu,
          orderId: this.id,
          cancelBy: this.cancelBy,
          cancelQuantity: this.cancelQuantity,
          user: this.activeUserInfo.displayName
        };

        this.$store
          .dispatch("orderList/cancelOrder", obj)
          .then(result => {
            if (result.data.success) {
              this.$vs.notify({
                color: "success",
                title: "ออเดอร์",
                text: result.data.message
              });
              this.$store.dispatch(
                "orderList/getOrderHistory",
                this.$store.state.AppActiveUser.id
              );
            }
          })
          .catch(err => {
            this.$vs.notify({
              color: "danger",
              title: "แก้ไขออเดอร์",
              text: "เกิดข้อผิดพลาดกรุณาลองอีกครั้งในภายหลัง"
            });
          });
      } else {
        this.$vs.notify({
          color: "warning",
          title: "แก้ไขออเดอร์",
          text: "กรุณาเลือกเหตุผลในการยกเลิก"
        });
      }
    },
    close() {},
    cancel(FoodItemMenu) {
      this.cancelBy = "";
      this.cancelQuantity = 1;
      this.idFoodItemMenu = FoodItemMenu._id;
      this.quantity = FoodItemMenu.quantity;
      this.cancelPrompt = true;
    },
    confirmDelete(_id) {
      this.deleteId = _id;
      this.$vs.dialog({
        type: "confirm",
        color: "danger",
        acceptText: "ยืนยัน",
        cancelText: "ยกเลิก",
        title: `ยืนยันการลบ`,
        text: "คุณต้องการลบหรือไม่",
        accept: this.acceptAlert
      });
    }
  },
  created() {
    if (!moduleOrder.isRegistered) {
      this.$store.registerModule("orderList", moduleOrder);
      moduleOrder.isRegistered = true;
    }

    this.$store.dispatch(
      "orderList/getOrderHistory",
      this.$store.state.AppActiveUser.id
    );
  },
  mounted() {
    this.isMounted = true;
  }
};
</script>

<style lang="scss">
#data-list-list-view {
  .vs-con-table {
    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .product-name {
      max-width: 23rem;
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search {
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          & + i {
            left: 1rem;
          }

          &:focus + i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 1.3rem;
      padding: 0 1rem;

      tr {
        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05);
        td {
          padding: 20px;
          &:first-child {
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
          }
          &:last-child {
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
        td.td-check {
          padding: 20px !important;
        }
      }
    }

    .vs-table--thead {
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check {
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }
}

.own-icon svg {
  height: 8em;
  margin-top: -4px;
  pointer-events: none;
  vertical-align: middle;
  width: 7em;
}
</style>
